.searchbar{
    margin-top: 2%;
    float: right;
    margin-bottom: 1%;
}
.logo{
    margin-top: 1%;
}
a ,a:hover{
    
    text-decoration: none !important;
}
.logoname{
    font-weight: 700;
    color: #0091D5;
    font-size: 25px;
}
.sublogo{
    color: #0091D5;
    font-size: 15px;
}
.navbar-default{
background-color: #0091D5;
color: white;
}
.navbar-default ,.navbar-brand ,.navbar-nav>li>a{
    color: white;
}
li{
    list-style-type: none;
}
.setlogo{
    margin-top:2%;
}