<div class="container home">
  <div class="row">
      <div class="col-md-3">
        <a href="https://www.linkedin.com/in/himanshu-satija-002940128/">
          <img class="img-responsive pic" src="/assets/image/pic2.jpeg">
        </a>
      </div>
      <div class="col-md-offset-1 col-md-8 home2">
        <div row>
          <span class="text2">Welcome</span> 
          <div class="text3"> About me </div>
          <span class="text1">
              <span class="text2">UI/Ux Design </span> is my passion. I love creating experiences for users that have
                  meaning and impact. <span class="text2">
                  “Make it simple, but significant.”</span>
          </span>
        </div>
        <div class="row " > 
          <div class="col-md-6">
              <div>
              <img class="img-responsive piclogo" src="/assets/image/web.png">
              </div>
              <div>
                <div class="text2">
                  Web Desinging 
                </div>
                <span class="text1">
                   I am a doing web designing form last 3 years.
                </span>
              </div>
            </div>
            <div class="col-md-6">
                <div>
                <img class="img-responsive piclogo" src="/assets/image/web.png">
                </div>
                <div>
                  <div class="text2">
                    Web Development 
                  </div>
                  <span class="text1">
                     I am a doing web Development form last 3 years.
                  </span>
                </div>
              </div>
        </div>
      </div>
      
  </div>
</div>