.home{
    margin:2%;
    box-shadow: 1px 3px 20px grey;
    margin-left: 5%;

}
ngb-progressbar {
    margin-top: 5rem;
  }
.home2{
   padding-top: 10%;
   padding-left: 3%;
}
.pic{
   float: right;

}
.text1{
   font-size: 15px;
   font-weight: 500;
}
.text2{
   font-size: 35px;
   font-weight: 700;
   color: #0091d5;
}
.text3{
    font-size: 20px;
    font-weight: 700;
 }
 .text4{
    font-size: 25px;
    font-weight: 700;
    color: #0091d5;

 }
 .heading{
    text-align: center;

 }
 .projectpic{

}
.projectrow{
    box-shadow: -17px 5px 26px grey;
    margin: 3%;
    background-color: whitesmoke;
}
.Projectname{
    font-size: 25px;
    font-weight: 700;
    color: #0091d5;
    padding-top:2%;
}
.projectrow>div{
    margin-top: 2%;
}